
  <footer>
    <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 style="font-family: 'Piedra', cursive; color: #854C4C !important;">FORU</h3>
          <p>"At FORU!, we believe that fashion<br> is about more than just looking good<br>- it's about expressing your individuality<br>and personality. Our clothing is<br>designed and produced by local artisans,<br>using locally sourced materials whenever<br>possible. We believe that by supporting<br>local businesses and industries, we can<br>help to create a stronger community."</p>
        </div>
        <div class="col-md-4">
          <h5>COMPANY</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none text-dark">Home</a></li>
            <li><a href="#" class="text-decoration-none text-dark">About</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Contact</a></li>
            <li><a href="#" class="text-decoration-none text-dark">Privacy & Policy</a></li>
          </ul>
        </div>
             <div class="col-md-4">
          <h5>GET IN TOUCH</h5>
          <p>+91 9876543210</p>
          <p>contact@foru.com</p>
        </div>
      </div>
    </div>
  </div>
  <p>Copyright 2024@ foru.com - All Right Resersved.
</p>
  </footer>