
<section class="vh-100" style="background-color: #c9c9c9;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
               <div id="message" class="message" style="color: #155724;"></div>
                <form id="registerForm" action="/register" method="POST">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0" style="font-family: 'Piedra', cursive; color: #854C4C !important;">FORU</span>
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Hello! Register here and experience the feel of shopping</h5>
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="name">Name*</label>
                    <input type="text" id="name" class="form-control form-control-lg" name="name" placeholder="First and last name"/>
                    <span class="error-message" id="nameError" style="color: red;"></span>
                  </div>

                  
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="phone">Phone number*</label>
                 <input 
                  type="text" 
                  id="phone" 
                  class="form-control form-control-lg" 
                  name="phone" 
                  placeholder="Phone number" />
                <span class="error-message" id="phoneError" style="color: red;"></span>
                </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="email">Email address</label>
                    <input  id="email" class="form-control form-control-lg" name="email" placeholder="Email address"/>
                    <span class="error-message" id="emailError" style="color: red;"></span>
                  </div>
                  <div class="row">
                   <div class="col-md-6">
                    <div class="form-outline mb-4" style="position: relative;">
                    <label class="form-label" for="password">Password*</label>
                    <input
                     type="password"
                     id="password"
                     class="form-control form-control-lg"name="password"
                     placeholder="At least 6 characters"
                     style="padding-right: 40px;"/>
                     <i
                     class="fa-solid fa-eye"
                     id="togglePassword"
                     style="
                     position: absolute;
                     right: 15px;
                     top: 70%;
                     transform: translateY(-50%);
                     cursor: pointer;
                     color:rgb(125, 122, 122)
                     "></i>
                     <span class="error-message" id="passwordError" style="color: red;"></span>
                     </div>
                   </div>
                  <!--<div class="col-md-6">
                    <div class="form-outline mb-4" style="position: relative;">
                    <label class="form-label" for="password">Re-enter the password*</label>
                    <input
                     type="password"
                     id="password"
                     class="form-control form-control-lg"name="password"
                     placeholder="At least 6 characters"
                     style="padding-right: 40px;"/>
                     <i
                     class="fa-solid fa-eye"
                     id="togglePassword"
                     style="
                     position: absolute;
                     right: 15px;
                     top: 70%;
                     transform: translateY(-50%);
                     cursor: pointer;
                     color:rgb(125, 122, 122)
                     "></i>
                     <span class="error-message" id="password1Error" style="color: red;"></span>
                     </div>
                  </div>-->
                  

                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit" id="registerButton">Sign Up</button>
                    <a href="/auth/google" class="btn" style="border: 1px solid rgb(8, 8, 13);  ">
                    <i class="fa-brands fa-google"></i> 
                    Signin with Google
                    </a>
                  </div>
                  <div>
                     <a class="small text-muted" href="/login" style="margin-bottom: 100px;">Already have an account?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

